<!-- *****contentChild vs contentChildren -->
<app-parent>
    <app-child></app-child>
</app-parent>

<!-- ******ViewChild -->
<!-- <div>
    <app-task *ngFor="let task of tasks" [taskName]="task"></app-task>
</div> -->

<!-- ********@ViewChild -->
<!-- <div>
    <app-view-child-example></app-view-child-example>
</div> -->

<!-- ******after render -->
<!-- <div>
    <app-after-render></app-after-render>
</div> -->

<!-- *****lifecycle hooks -->
<!-- <div>
    <button (click)="changeTitle()">change title</button>
    <button (click)="updateCounter()">change counter</button>
    <button (click)="toggleHook()">toggle component</button>
    <app-life-cycle-hooks [title]="title" [counter]="counter" *ngIf="isActive">
        <app-profile></app-profile>
    </app-life-cycle-hooks>
</div> -->

<!-- **********checked-life-cycle -->
<!-- <div>
    <app-checked-life-cycle></app-checked-life-cycle>
</div> -->

<!-- ************host binding and host listners -->
<!-- <div>
    <app-hover-click role="group" [id]="title"></app-hover-click>
</div> -->

<!-- ************ng content -->
<!-- <div>
    <app-card>
        <div>this is the last one</div>
        <p title>this is the first card component</p>
        <p body>this is the body of first card</p>

        <div>this is the default one</div>
    </app-card>
</div>

<div>
    <app-card>
        <p title>this is the second card component</p>
        <p body>this is the body of second card</p>

        <div>this is the default two</div>
    </app-card>
</div> -->

<!-- <div>Hi Uchi</div> -->

<!-- type selector -->
<!-- <app-profile></app-profile> -->
 
<!-- attribute selector -->
 <!-- <div app-profile ></div> -->

<!-- class selector -->
 <!-- <div app-profile></div> -->
 <!-- <span app-profile></span> -->
 <!-- **not print in paragraph -->
 <!-- <p app-profile ></p> -->

 <!-- multiple selector -->
 <!-- <app-profile></app-profile>
 <div app-profile ></div>
 <p app-profile ></p>
 <span app-profile></span> -->

<!-- <div>
    <div app-profile></div>
    <p app-profile></p>
    <app-profile></app-profile>
</div>

<div class="hi-uchi">
    <app-profile></app-profile>
</div>

<div>
    <app-counter  
    [dummynamecounter]="counter" 
    message="welcome message"
    [showcounter]= "'false'"
    [counterTitle]="title"
    ></app-counter>
</div>

<div>
    <app-getter-input [title]="title"></app-getter-input>
</div>

<div>
    <app-panel (childEvent)="dataRecieved($event)"></app-panel>
</div>

<div *ngIf="recieveDataFromChild">{{recieveDataFromChild}}</div> -->

<!-- the class name is same as profile component but cause we use emulated encapsulation the css will not apply outside of the component -->
<!-- <div class="uchi">App Component One</div> -->

