<!-- <div>Hi Uchi</div> -->

<!-- type selector -->
<!-- <app-profile></app-profile> -->
 
<!-- attribute selector -->
 <!-- <div app-profile ></div> -->

<!-- class selector -->
 <!-- <div app-profile></div> -->
 <!-- <span app-profile></span> -->
 <!-- **not print in paragraph -->
 <!-- <p app-profile ></p> -->

 <!-- multiple selector -->
 <!-- <app-profile></app-profile>
 <div app-profile ></div>
 <p app-profile ></p>
 <span app-profile></span> -->

<div>
    <!-- <div app-profile></div>
    <p app-profile></p> -->
    <app-profile></app-profile>
</div>

<div class="hi-uchi">
    <app-profile></app-profile>
</div>

<div>
    <app-counter  
    [dummynamecounter]="counter" 
    message="welcome message"
    [showcounter]= "'false'"
    [counterTitle]="title"
    ></app-counter>
</div>

<div>
    <app-getter-input [title]="title"></app-getter-input>
</div>

<!-- the class name is same as profile component but cause we use emulated encapsulation the css will not apply outside of the component -->
<!-- <div class="uchi">App Component One</div> -->