// h1 {
//     color: green; background-color: yellow;
// }

// :host{
//     display: block;
//     background-color: aqua;
//     color: blueviolet;
// }

//only component u want
:host-context(.hi-uchi){
    display: block;
    background-color: greenyellow;
    color: blue;
}